#footer {
    background-color: #F8DDA0;
    color: #13304B;
    padding: 20px 0px 20px 0px;
    text-align:center;
}

h1 {
    font-size: 90px;
    font-family: arial;
    border: 1px solid blue <!--Example-->;
}

#title {
    font-weight: bold;
}