@media {
    /*Phone Style smaller than 576px wide*/
    
body {
    background-color: #F8DDA0;
}
    
#footer {
    background-color: #B4B687;
    color: #13304B;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

#heading1 {
    font-size: 150px;
    font-family: Euphemia UCAS;
    font-weight: bold;
    color: #13304B;
}

#heading2 {
    font-family: Euphemia UCAS;
    font-weight: bold;
    font-size: 50px;
    color: #13304B;
}

#topper {
    background-color: #B4B687;
}

#headshot {
    border-radius: 200px;
    width: 250px;
    border: 3px solid #13304B;
    margin: 15px 0px 15px 15px;
}

#button {
    background-color:#829787;
    border:0px;
    border-radius: 20px;
    padding:10px 30px 10px 30px;
    text-transform:uppercase;
    margin:10px;
}

#button:hover {
    background-color: #59594A;
}

#button a {
    color:#13304B;
    text-decoration: none;
}

#h3 {
    text-align:center;
    color: #13304B;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 40px

}

.nav { 
    font-family: Euphemia UCAS;
}
    
.nav a {
    background-color: #39656D;
    text-align:center;
    color: #F8DDA0;
    padding:10px 30px 10px 30px;
    }
    
.nav a:hover {
    background-color: #59594A;
    color: black;
    }

#description { 
    border: 4px solid #829787;
    padding: 40px 20px 45px 20px;
    text-align: center;
    border-radius: 350px;
    margin: 30px 25px 30px 25px;
    font-family: Euphemia UCAS;
    font-size: 20px;
    color: #F8DDA0;
    background-color: #13304B;
}

#description1 {
    border: 4px solid #829787;
    padding: 40px 20px 40px 40px;
    text-align: center;
    border-radius: 300px;
    margin: 10px 250px 10px 250px;
    font-family: Euphemia UCAS;
    font-size: 18px;
    background-color: #13304B;
    color: #F8DDA0;
    }

.centered { 
    text-align: center;
    margin: 0px 150px 0px 150px;
}

#school {
        text-align: center;
        border: 3px solid #829787;
        border-radius: 350px;
        margin: 10px 300px 10px 300px;
        font-family: Euphemia UCAS;
        font-size: 18px;
        color: #F8DDA0;
        background-color: #13304B;
    }

#straightline {
    border: 6px solid #F8DDA0;
    margin: 5px
    }

#straightline1 {
    border: 6px solid #13304B;
    margin: 15px
    }
}
